/* Home.css */
body {
    padding-top: 70px;
}

.container {
    margin-top: 20px;
}


.custom-fade-in {
    animation: customFadeIn 2s ease-in-out;
}

@keyframes customFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}